@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  @apply bg-emerald-50 text-gray-800 antialiased overflow-x-hidden;
}